<template>
  <v-container fluid>
    <v-row justify="center">
      <v-card
        color="background"
        flat
        max-width="1335px"
        min-width="350px"
        min-height="350px"
      >
        <v-row justify="center">
          <v-card-text
            class="background pointer h2 font-weight-bold"
            @click="toUrl"
          >
            {{ category.name }}
          </v-card-text>
        </v-row>
        <v-sheet
          v-model="products.items"
          class="mx-auto mb-0"
          color="background"
          elevation="0"
        >
          <v-slide-group v-if="products.items.length > 0">
            <v-slide-item v-for="product of products.items" :key="product.id">
              <v-card color="background" flat>
                <product-card class="ma-2" :product="product" />
              </v-card>
            </v-slide-item>
          </v-slide-group>
          <v-slide-group v-else>
            <v-slide-item v-for="i of 7" :key="i">
              <v-card color="background" flat>
                <product-card class="ma-2" />
              </v-card>
            </v-slide-item>
          </v-slide-group>
        </v-sheet>
      </v-card>
    </v-row>
  </v-container>
</template>

<script>
import { reactive, watch } from '@vue/composition-api';
import { useLoading } from '../../compositions/common';
import { useProducts } from '../../compositions/product';
import router from '../../router';

export default {
  name: 'ProductCardGroup',
  props: {
    category: {
      type: Object,
      default() {
        return {
          id: '',
          name: ''
        };
      }
    }
  },
  components: {
    ProductCard: () => import('@/components/products/ProductCard')
  },

  setup(props) {
    const products = reactive({ items: [] });
    const loading = useLoading().loading;

    watch(
      loading,
      () => {
        products.items = useProducts().productsByCategoryId(
          props.category.id ? props.category.id : '01'
        );
      },
      { immediate: true }
    );

    const toUrl = () => {
      router.push(`/productCategory/${props.category.id}`);
    };

    return {
      products,
      loading,
      toUrl
    };
  }
};
</script>
