<template>
  <v-hover>
    <template v-slot="{ hover }">
      <v-card
        :class="`elevation-${hover ? 10 : 3}`"
        color="navigationDraw"
        height="250"
        width="160"
        :to="'/product/' + product.id"
        :disabled="!product.id"
      >
        <v-card class="pt-2" color="navigationDraw" flat>
          <v-card class="d-flex justify-center" color="navigationDraw" flat>
            <v-img
              lazy-src="/book.png"
              contain
              height="150"
              width="100"
              :src="product.imagePreview ? product.imagePreview : '/book.png'"
            />
          </v-card>
          <v-list-item three-line dense>
            <v-tooltip bottom color="accent black--text">
              <template #activator="{ on }">
                <v-list-item-content v-on="on">
                  <v-list-item-action-text
                    class="information--text font-weight-bold"
                  >
                    {{ name }}
                  </v-list-item-action-text>
                  <v-list-item-action-text class="information--text">
                    {{ author }}
                  </v-list-item-action-text>
                  <v-list-item-action-text
                    class="secondary--text font-weight-bold"
                  >
                    {{ product.cost ? product.cost + '₽' : '' }}
                  </v-list-item-action-text>
                </v-list-item-content>
              </template>
              <div class="tooltip">
                <div class="font-weight-bold">{{ product.name }}</div>
                <div>{{ product.author }}</div>
                <div>{{ product.cost }}₽</div>
              </div>
            </v-tooltip>
          </v-list-item>
        </v-card>
      </v-card>
    </template>
  </v-hover>
</template>

<script>
import { useLoading } from '../../compositions/common';
import { useBucket } from '../../compositions/product';
import { computed } from '@vue/composition-api';

export default {
  name: 'ProductCard',

  props: {
    product: {
      type: Object,
      default() {
        return {
          title: '',
          author: '',
          cost: ''
        };
      }
    }
  },

  setup(props) {
    const loading = useLoading().loading;
    const isInBucket = useBucket().isInBucket;
    const name = computed(() => {
      if (props.product.name) {
        if (props.product.name.length < 40) {
          return props.product.name;
        }
        return `${props.product.name.slice(0, 36).trim()}...`;
      }
      return '';
    });

    const author = computed(() => {
      let author = '';
      if (props.product.author) {
        author = props.product.author;
      } else if (props.product.producer) {
        author = props.product.producer;
      }
      if (author.length >= 20) {
        author = `${author.slice(0, 16).trim()}...`;
      }

      return author;
    });

    return {
      loading,
      isInBucket,
      name,
      author
    };
  }
};
</script>

<style lang="scss" scoped>
.tooltip {
  width: 250px;
  font-size: 0.8125rem;
  line-height: normal;
}
</style>
