<template>
  <v-container>
    <v-row justify="center">
      <v-col cols="12" sm="12" md="6" lg="6" xl="6">
        <v-tabs background-color="background">
          <v-tab>В корзине</v-tab>
          <v-tab>Купленное</v-tab>

          <v-tab-item class="background pa-2">
            <v-card class="mx-auto mt-5 mb-5" flat>
              <v-simple-table class="background" dense>
                <template v-slot:default>
                  <thead>
                    <tr>
                      <th>Название</th>
                      <th class="text-center">Количество</th>
                      <th class="text-center">Цена (₽)</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="item of bucket.items" :key="item.name">
                      <td>
                        <a :href="`/product/${item.id}`" target="_blank">
                          {{ item.name }}
                        </a>
                      </td>
                      <td class="text-center">{{ item.count }}</td>
                      <td class="text-center">{{ item.cost * item.count }}</td>
                    </tr>
                    <tr>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr class="font-weight-bold">
                      <td>Всего</td>
                      <td class="text-center">{{ productCountInBucket }}</td>
                      <td class="text-center">{{ sum }}</td>
                    </tr>
                  </tbody>
                </template>
              </v-simple-table>
              <v-card class="background" min-height="50px" flat>
                <v-card-actions class="mr-2">
                  <v-spacer />
                  <v-btn color="warning" text @click="details = !details">
                    {{ details ? 'Скрыть' : 'Развернуть' }}
                  </v-btn>
                  <v-btn color="success" outlined @click="buy">
                    Купить
                  </v-btn>
                </v-card-actions>
              </v-card>
            </v-card>
            <v-card
              class="overflow-y-auto background"
              flat
              height="400"
              v-if="details"
            >
              <v-list color="background">
                <v-list-item
                  v-for="(item, i) of bucket.items"
                  class="item"
                  :key="i"
                >
                  <v-img
                    class="mr-2 pointer"
                    max-width="64"
                    min-width="64"
                    :src="item.imagePreview"
                    @click="toUrl(item)"
                  />

                  <v-list-item-content class="pointer" @click="toUrl(item)">
                    <v-list-item-action-text
                      class="primary--text font-weight-bold"
                      v-html="item.name"
                    />
                    <v-list-item-action-text
                      class="information--text"
                      v-html="item.author || item.producer"
                    />
                    <v-list-item-action-text
                      class="information--text"
                      v-html="item.releaseDate"
                    />
                    <v-list-item-action-text
                      class="information--text"
                      v-html="`В наличии:  ${item.availability || 0}`"
                    />
                    <v-list-item-action-text
                      class="secondary--text font-weight-bold"
                      v-html="`Цена: ${item.cost} ₽`"
                    />
                  </v-list-item-content>
                  <v-list-item-action>
                    <v-btn
                      class="ma-1"
                      color="error"
                      small
                      outlined
                      width="100"
                      @click="removeFromBucket(item)"
                    >
                      Убрать
                    </v-btn>
                    <v-card flat class="ma-1" width="100" color="background">
                      <v-row justify="center">
                        <v-btn
                          class="primary--text mr-2"
                          icon
                          small
                          :disabled="item.count === 1"
                        >
                          <v-icon @click="minus(item)">
                            mdi-minus
                          </v-icon>
                        </v-btn>
                        <div
                          class="mt-1"
                          style="width: 20px; text-align: center"
                        >
                          {{ item.count }}
                        </div>
                        <v-btn
                          class="primary--text ml-2"
                          icon
                          small
                          :disabled="item.count >= item.availability"
                        >
                          <v-icon @click="plus(item)">
                            mdi-plus
                          </v-icon>
                        </v-btn>
                      </v-row>
                    </v-card>
                  </v-list-item-action>
                </v-list-item>
              </v-list>
            </v-card>
          </v-tab-item>
          <v-tab-item class="background pa-2">
            <v-card class="mx-auto mb-5 background" flat>
              <v-card-title>
                <v-text-field
                  append-icon="mdi-magnify"
                  dense
                  hide-details
                  label="Искать"
                  single-line
                  v-model="search"
                />
              </v-card-title>
              <v-data-table
                class="background"
                dense
                :headers="headers"
                :items="purchases.items"
                :search="search"
              >
                <template #item.name="{ item }">
                  <a :href="`/product/${item.productId}`" target="_blank">
                    {{ item.name }}
                  </a>
                </template>
              </v-data-table>
            </v-card>
          </v-tab-item>
        </v-tabs>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import { ref, reactive, watch } from '@vue/composition-api';
import { useBucket, usePurchases } from '../compositions/product';
import router from '../router';

export default {
  name: 'Bucket',

  setup() {
    const tab = ref(null);
    const bucket = reactive({ items: useBucket().bucket });
    const sum = ref(0);
    const minus = item => {
      useBucket().removeFromBucket({ id: item.id, count: 1 });
    };
    const plus = item => {
      useBucket().addToBucket(item);
    };
    const removeFromBucket = item => {
      useBucket().removeFromBucket({ id: item.id, count: item.count });
    };
    const toUrl = ({ id }) => {
      // router.push(`/product/${id}`);
      let routeData = router.resolve(`/product/${id}`);
      window.open(routeData.href, '_blank');
    };
    watch(
      bucket,
      () => {
        sum.value = 0;
        bucket.items.forEach(
          product => (sum.value += product.cost * product.count)
        );
      },
      {
        immediate: true
      }
    );
    const buy = useBucket().buy;
    const details = ref(true);

    const headers = [
      {
        text: 'Название',
        align: 'start',
        value: 'name'
      },
      { text: 'Дата покупки', align: 'center', value: 'date' },
      { text: 'Количество', align: 'center', value: 'count' },
      { text: 'Цена (₽)', align: 'center', value: 'cost' }
    ];
    const search = ref('');
    const productCountInBucket = useBucket().productCountInBucket;
    const purchases = reactive({ items: usePurchases().purchases });

    return {
      tab,
      bucket,
      productCountInBucket,
      minus,
      plus,
      removeFromBucket,
      toUrl,
      sum,
      details,
      buy,
      purchases,
      headers,
      search
    };
  }
};
</script>

<style lang="scss" scoped>
a {
  text-decoration: none;
}

.item {
  border-bottom: 1px dashed gray;
  &:nth-last-child(1) {
    border-bottom: none;
  }
}
</style>
