<template>
  <v-container>
    <banner class="mb-5" />
    <product-card-group
      v-for="category of categories.items"
      :key="category.id"
      :category="category"
    />
    <articles class="mt-5" />
  </v-container>
</template>

<script>
import { useCategories } from '../compositions/category';
import { reactive } from '@vue/composition-api';

export default {
  name: 'Home',
  components: {
    ProductCardGroup: () => import('@/components/products/ProductCardGroup'),
    Banner: () => import('@/components/TheBanner'),
    Articles: () => import('@/components/TheArticleList')
  },
  setup() {
    const categories = reactive({
      items: [
        useCategories().categoryById('0000'),
        useCategories().categoryById('0005'),
        useCategories().categoryById('0006'),
        useCategories().categoryById('0007')
      ]
    });

    return {
      categories
    };
  }
};
</script>
