<template>
  <v-container class="pt-12">
    <v-card color="background" class="d-flex justify-center mt-12" flat>
      <v-card color="background" flat>
        <v-img src="error.png" />
        <v-card-subtitle class="d-flex justify-center">
          Страница не найдена
        </v-card-subtitle>
      </v-card>
    </v-card>
  </v-container>
</template>

<script>
export default {
  name: 'PageNotFound'
};
</script>

<style scoped></style>
