<template>
  <v-container fluid class="pt-0">
    <v-col cols="12" class="pt-0">
      <page-loader v-if="loading" />
      <v-card
        v-else-if="product.value"
        v-model="product.value"
        color="background"
        flat
      >
        <v-row justify="center">
          <v-col cols="12" sm="12" md="12" lg="12" xl="12">
            <v-breadcrumbs
              class="pt-0 hidden-sm-and-down"
              :items="categories.items"
            >
              <template #item="{ item }">
                <v-breadcrumbs-item :to="item.url">
                  {{ item.name }}
                </v-breadcrumbs-item>
              </template>
            </v-breadcrumbs>
            <h1 class="primary--text h1 hidden-sm-and-down">
              {{ product.value.name }}
            </h1>
            <h2
              class="secondary--text h2 hidden-sm-and-down font-weight-medium"
            >
              {{ product.value.author }}
            </h2>
          </v-col>
          <v-col cols="12" sm="12" md="12" lg="9" xl="9">
            <v-row>
              <v-col cols="12" sm="6" md="6" lg="4" xl="4">
                <v-card
                  class="d-flex justify-center pa-5 navigationDraw"
                  flat
                  outlined
                >
                  <v-card color="navigationDraw" flat height="90%" width="90%">
                    <v-img
                      contain
                      width="100%"
                      min-height="400px"
                      max-height="450px"
                      :src="
                        product.value && product.value.imagePreview
                          ? product.value.imagePreview
                          : '/book.png'
                      "
                      lazy-src="/book.png"
                    />
                    <v-card-actions>
                      <v-btn
                        v-if="isInBucket(id)"
                        block
                        color="success"
                        outlined
                        @click="removeFromBucket"
                      >
                        В корзине
                      </v-btn>
                      <v-btn
                        v-else-if="product.value.availability > 0"
                        block
                        color="background--text primary"
                        @click="addToBucket"
                      >
                        Купить за {{ product.value.cost }}₽
                      </v-btn>
                      <v-btn v-else block color="background--text" disabled>
                        Нет в наличии
                      </v-btn>
                    </v-card-actions>
                  </v-card>
                </v-card>
              </v-col>
              <v-col cols="12" sm="6" md="6" lg="8" xl="8">
                <v-card color="background" min-width="300px" flat>
                  <v-card-title class="primary--text">
                    О товаре
                  </v-card-title>
                  <v-simple-table dense class="background">
                    <template #default>
                      <tbody>
                        <tr v-for="item of attributes.items" :key="item.key">
                          <td>{{ item.value }}</td>
                          <td>{{ product.value[item.key] }}</td>
                        </tr>
                      </tbody>
                    </template>
                  </v-simple-table>
                </v-card>
              </v-col>
              <v-col cols="12" sm="12" md="12" lg="12" xl="12">
                <v-card color="background" flat min-width="300px">
                  <v-card-title class="primary--text">
                    Аннотация
                  </v-card-title>
                  <v-card-text class="information--text text-justify mt-4">
                    {{ product.value.annotation }}
                  </v-card-text>
                </v-card>
              </v-col>
              <v-col cols="12" sm="12" md="12" lg="12" xl="12">
                <v-card color="appBar" flat>
                  <v-card-title class="white--text">
                    Отзывы
                  </v-card-title>
                  <v-card-text>
                    <v-expansion-panels accordion multiple hover flat>
                      <v-expansion-panel
                        v-for="(review, i) of reviews.items"
                        :key="i"
                      >
                        <v-expansion-panel-header
                          :color="
                            review.isRecommended
                              ? 'background success--text'
                              : 'background error--text'
                          "
                        >
                          {{ review.name }}
                        </v-expansion-panel-header>
                        <v-expansion-panel-content
                          class="background"
                          style="font-size: 0.9375rem;"
                        >
                          <div class="mb-2">{{ review.date }}</div>
                          {{ review.text }}
                        </v-expansion-panel-content>
                      </v-expansion-panel>
                    </v-expansion-panels>
                  </v-card-text>
                  <v-card-actions>
                    <v-dialog v-model="dialog" persistent max-width="600">
                      <template #activator="{ on }">
                        <v-btn
                          class="ml-2 mr-2"
                          color="white"
                          v-on="on"
                          outlined
                          @click="openProfileReview"
                          :disabled="!profile"
                        >
                          Оставить отзыв
                        </v-btn>
                      </template>
                      <v-card
                        color="navigationDraw black--text"
                        v-if="profileReview"
                      >
                        <v-card-title>
                          <v-spacer />
                          <v-btn
                            color="primary background--text"
                            @click="close"
                            small
                            text
                          >
                            Закрыть
                          </v-btn>
                        </v-card-title>
                        <v-textarea
                          auto-grow
                          background-color="background"
                          counter
                          clearable
                          clear-icon="mdi-close"
                          outlined
                          v-model="profileReview.text"
                        />
                        <v-card-actions class="pl-5 pr-5">
                          <v-radio-group
                            v-model="isRecommended"
                            dense
                            :disabled="!profileReview"
                          >
                            <template #label>
                              <div>
                                Вы можете рекомендовать этот товар?
                              </div>
                            </template>
                            <v-radio value="yes">
                              <template #label>
                                <div class="mt-1">
                                  Да
                                  <v-icon color="success" class="mb-2">
                                    mdi-thumb-up
                                  </v-icon>
                                </div>
                              </template>
                            </v-radio>
                            <v-radio value="no">
                              <template #label>
                                <div class="mt-1">
                                  Нет
                                  <v-icon color="error">mdi-thumb-down</v-icon>
                                </div>
                              </template>
                            </v-radio>
                          </v-radio-group>
                          <v-spacer />
                        </v-card-actions>
                      </v-card>
                    </v-dialog>
                  </v-card-actions>
                </v-card>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
        <v-row justify="center">
          <v-col cols="12" sm="12" md="12" lg="12" xl="12">
            <products-card-group
              :category="categories.items[categories.items.length - 1]"
            />
          </v-col>
        </v-row>
      </v-card>
      <v-card
        v-else
        class="d-flex justify-center mt-12 background accent--text"
        flat
      >
        <v-card-title>Товар не найден</v-card-title>
      </v-card>
    </v-col>
  </v-container>
</template>

<script>
import { useBucket, useProducts } from '../compositions/product';
import { ref, reactive, watch } from '@vue/composition-api';
import { useAttributes } from '../compositions/common';
import { useCategories } from '../compositions/category';
import { useLoading } from '../compositions/common';
import { useReviews } from '../compositions/review';
import { useProfile } from '../compositions/profile';

export default {
  props: {
    id: {
      type: String,
      required: true
    }
  },
  name: 'Product',
  components: {
    ProductsCardGroup: () => import('@/components/products/ProductCardGroup'),
    PageLoader: () => import('@/components/ThePageLoader')
  },

  setup(props) {
    const loading = ref(useLoading().loading);
    const product = reactive({ value: {} });
    let attributes = reactive({ items: null });
    let categories = reactive({ items: [] });
    const reviews = reactive({ items: useReviews().reviews });
    const isInBucket = useBucket().isInBucket;
    const addToBucket = () => useBucket().addToBucket(product.value);
    const removeFromBucket = () =>
      useBucket().removeFromBucket({ id: product.value.id });

    const dialog = ref(false);
    const isRecommended = ref(null);
    const profile = useProfile().profile;
    const profileReview = ref(null);
    const openProfileReview = () => {
      if (profile.value) {
        profileReview.value = useReviews().profileReview(profile.value.id);
        if (!profileReview.value) {
          const reviewerName = profile.value.displayName
            ? profile.value.displayName
            : 'Безымянный пользователь';
          profileReview.value = {
            text: '',
            name: reviewerName,
            profileId: profile.value.id,
            productId: product.value.id
          };
        }
      }
    };
    const close = () => {
      dialog.value = false;
      profileReview.value.text = profileReview.value.text
        ? profileReview.value.text.trim()
        : '';

      profileReview.value.isRecommended = isRecommended.value === 'yes';

      if (profileReview.value.text) {
        useReviews().saveReview(profileReview.value);
      } else if (profileReview.value.id) {
        useReviews().deleteReview(profileReview.value.id);
      }
    };

    const init = () => {
      product.value = useProducts().productById(props.id);
      if (product.value) {
        useReviews().reviewsByProduct(product.value.id);
        const attributesKeys = [];
        for (const [key, value] of Object.entries(product.value)) {
          if (value) {
            attributesKeys.push(key);
          }
        }
        attributes.items = useAttributes().productAttributesByKeys(
          attributesKeys
        );
        categories.items = product.value.categories.map(categoryId => {
          const category = useCategories().categoryById(categoryId);
          category.url = '/productCategory/' + category.id;
          return category;
        });
      }
    };

    watch(props, () => init(props.id), { immediate: true });

    watch(loading, () => init(props.id), { immediate: true });

    return {
      product,
      attributes,
      categories,
      reviews,
      profile,
      openProfileReview,
      profileReview,
      loading,
      isInBucket,
      addToBucket,
      removeFromBucket,
      dialog,
      isRecommended,
      close
    };
  }
};
</script>

<style lang="scss" scoped></style>
