<template>
  <v-container fluid>
    <h1 class="primary--text pt-5 h1" v-if="category.value">
      {{ category.value.name }}
    </h1>
    <v-breadcrumbs
      class="justify-center pt-0 pb-0 mb-5"
      :items="linksOfParents"
    >
      <template v-slot:item="{ item }">
        <v-breadcrumbs-item
          :disabled="item.disabled"
          :to="'/productCategory/' + item.id"
        >
          <h2
            class="secondary--text h2 font-weight-medium"
            v-if="category.value"
          >
            {{ item.name }}
          </h2>
        </v-breadcrumbs-item>
      </template>
    </v-breadcrumbs>
    <v-card flat v-if="childrenCategories.items.length" color="background">
      <product-card-group
        :category="childrenCategory"
        v-for="childrenCategory of childrenCategories.items"
        :key="childrenCategory.id"
      />
    </v-card>
    <v-card color="background" flat v-else>
      <v-card color="background" flat min-height="556px">
        <v-col cols="12" sm="12" md="12" lg="12" xl="12">
          <v-row justify="center">
            <product-card
              :product="product"
              flat
              v-for="product of paginatedProducts"
              :key="product.id"
              class="ma-2"
            />
          </v-row>
        </v-col>
      </v-card>
      <v-card
        class="d-flex justify-center"
        color="background"
        flat
        tile
        v-if="pagesNumber > 1"
      >
        <v-card class="pt-2" color="background" flat>
          <v-card-actions>
            <v-btn icon @click="currentPage--" :disabled="currentPage === 1">
              <v-icon class="primary--text">
                mdi-chevron-left
              </v-icon>
            </v-btn>
          </v-card-actions>
        </v-card>
        <v-card class="pt-2 pl-0 pr-0" color="background" flat>
          <v-card-text class="primary--text">
            Страница {{ currentPage }} / {{ pagesNumber }}
          </v-card-text>
        </v-card>
        <v-card class="pt-2" color="background" flat>
          <v-card-actions>
            <v-btn
              icon
              @click="currentPage++"
              :disabled="currentPage === pagesNumber"
            >
              <v-icon class="primary--text">
                mdi-chevron-right
              </v-icon>
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-card>
    </v-card>
  </v-container>
</template>

<script>
import { computed, reactive, ref, watch } from '@vue/composition-api';
import { useCategories } from '../compositions/category';
import { useProducts } from '../compositions/product';
import { useBreakpoint, useLoading } from '../compositions/common';

const pageCalculation = breakpoint => {
  switch (breakpoint.name) {
    case 'xs':
      return 4;
    case 'sm':
      return 6;
    case 'md':
      return 10;
    case 'lg':
      return 14;
    case 'xl':
      return 20;
  }
};

export default {
  props: {
    id: {
      type: String,
      required: true
    }
  },
  name: 'Category',
  components: {
    ProductCardGroup: () => import('@/components/products/ProductCardGroup'),
    ProductCard: () => import('@/components/products/ProductCard')
  },
  setup(props) {
    const loading = useLoading().loading;
    const category = reactive({ value: null });
    const childrenCategories = reactive({ items: [] });
    const products = reactive({ items: [] });
    const currentPage = ref(0);
    const productsPerPage = ref(0);
    const noneProductInCategory = ref(true);

    const linksOfParents = computed(() => {
      const result = [];
      if (category.value) {
        let parentId = category.value.parentId;
        while (parentId) {
          let parentCategory = useCategories().categoryById(parentId);
          parentId = parentCategory.parentId;
          result.unshift(parentCategory);
        }
      }
      return result;
    });

    let breakpoint = computed(() => useBreakpoint().breakpoint());
    watch(breakpoint, () => {
      currentPage.value = 1;
      productsPerPage.value = pageCalculation(breakpoint.value);
    });

    const pagesNumber = computed(() => {
      return Math.ceil(products.items.length / productsPerPage.value);
    });
    const paginatedProducts = computed(() => {
      const start = (currentPage.value - 1) * productsPerPage.value;
      const stop = currentPage.value * productsPerPage.value;
      return products.items.slice(start, stop);
    });

    const init = id => {
      category.value = useCategories().categoryById(id);
      childrenCategories.items = useCategories().subCategoriesById(id);
      noneProductInCategory.value = false;
      if (!childrenCategories.items.length) {
        products.items = useProducts().productsByCategoryId(id);
      } else {
        products.items = [];
      }
      noneProductInCategory.value = !!products.items.length;
      currentPage.value = 1;
      productsPerPage.value = pageCalculation(breakpoint.value);
    };

    watch(
      props,
      () => {
        init(props.id);
      },
      {
        immediate: true
      }
    );

    watch(
      loading,
      () => {
        init(props.id);
      },
      {
        immediate: true
      }
    );

    return {
      loading,
      linksOfParents,
      category,
      childrenCategories,
      products,
      currentPage,
      productsPerPage,
      paginatedProducts,
      pagesNumber,
      noneProductInCategory
    };
  }
};
</script>
