<template>
  <v-container fluid>
    <v-col>
      <v-data-iterator
        :items="products.value"
        :items-per-page.sync="numberOfProductsPerPage"
        :page="currentPage"
        :search="search"
        :sort-by="sortBy.key"
        :sort-desc="sortDesc"
        no-results-text=""
        hide-default-footer
      >
        <template #header>
          <v-toolbar dark color="appBar" class="mb-1" flat>
            <v-spacer></v-spacer>
            <div>
              <v-text-field
                v-model="search"
                clearable
                flat
                solo-inverted
                hide-details
                prepend-inner-icon="mdi-feature-search-outline"
                label="Искать"
                class="mr-2"
                dense
              />
            </div>
            <div>
              <v-select
                v-model="sortBy"
                flat
                solo-inverted
                hide-details
                :items="sortingOptions"
                item-text="value"
                item-value="key"
                :hint="`${sortingOptions.key}, ${sortingOptions.value}`"
                prepend-inner-icon="mdi-feature-search-outline"
                label="Сортировать по"
                class="mr-2 hidden-sm-and-down"
                dense
                return-object
              />
            </div>
            <div>
              <v-btn
                class="primary hidden-sm-and-down"
                @click="sortDesc = !sortDesc"
              >
                <v-icon color="navigationDraw" v-if="sortDesc">
                  mdi-chevron-down
                </v-icon>
                <v-icon color="navigationDraw" v-else>mdi-chevron-up</v-icon>
              </v-btn>
            </div>
          </v-toolbar>
        </template>
        <template #default="props">
          <v-row justify="center">
            <v-card
              class="d-flex align-content-start flex-wrap"
              color="background"
              flat
              tile
              min-height="550"
            >
              <v-row justify="center">
                <product-card
                  :product="product"
                  v-for="product of props.items"
                  :key="product.id"
                  class="ma-2"
                />
              </v-row>
            </v-card>
          </v-row>
          <v-row justify="center">
            <v-card class="d-flex justify-center" color="background" flat tile>
              <v-card class="pt-2" color="background" flat>
                <v-card-actions>
                  <v-btn
                    icon
                    @click="currentPage--"
                    :disabled="currentPage === 1"
                  >
                    <v-icon class="primary--text">
                      mdi-chevron-left
                    </v-icon>
                  </v-btn>
                </v-card-actions>
              </v-card>
              <v-card class="pt-2 pl-0 pr-0" color="background" flat>
                <v-card-text class="primary--text">
                  Страница {{ currentPage }} /
                  {{ props.pagination.pageCount }}
                </v-card-text>
              </v-card>
              <v-card class="pt-2" color="background" flat>
                <v-card-actions>
                  <v-btn
                    icon
                    @click="currentPage++"
                    :disabled="currentPage === props.pagination.pageCount"
                  >
                    <v-icon class="primary--text">
                      mdi-chevron-right
                    </v-icon>
                  </v-btn>
                </v-card-actions>
              </v-card>
            </v-card>
          </v-row>
        </template>
        <template #no-data
          ><div></div>
          <v-card
            class="d-flex justify-center align-center"
            color="background"
            flat
          >
            <v-card-title>Выберите фильтры</v-card-title>
          </v-card>
        </template>
        <template #footer>
          <v-row>
            <v-col>
              <v-card color="background" flat>
                <v-card-title>Фильтры</v-card-title>
                <v-treeview
                  v-model="selection.items"
                  :items="items"
                  dense
                  open-on-click
                  return-object
                  selectable
                  selected-color="success"
                  selection-type="leaf"
                  transition
                />
              </v-card>
            </v-col>
          </v-row>
        </template>
      </v-data-iterator>
    </v-col>
  </v-container>
</template>

<script>
import { ref, reactive, computed, watch } from '@vue/composition-api';
import { useProducts } from '../compositions/product';
import { useBreakpoint, useLoading } from '../compositions/common';
import { useCategories } from '../compositions/category';

const calculatingNumberOfProductsPerPage = ({ width }) => {
  if (width >= 1920) return 20;
  if (width >= 1584) return 18;
  if (width >= 1408) return 16;
  if (width >= 1232) return 14;
  if (width >= 1056) return 12;
  if (width >= 880) return 10;
  if (width >= 704) return 8;
  if (width >= 528) return 6;
  return 4;
};

export default {
  components: {
    ProductCard: () => import('@/components/products/ProductCard')
  },
  setup() {
    const currentPage = ref(1);
    const search = ref('');
    watch(
      search,
      () => {
        currentPage.value = 1;
      },
      {
        immediate: true
      }
    );
    const filter = {};
    const sortDesc = ref(false);
    const numberOfProductsPerPage = ref(0);
    const sortBy = ref({ key: 'id' });
    const sortingOptions = [
      { key: 'name', value: 'Название' },
      { key: 'author', value: 'Автор' },
      { key: 'producer', value: 'Производитель' },
      { key: 'releaseDate', value: 'Дата поступления товара' },
      { key: 'cost', value: 'Цена' }
    ];

    const products = reactive({ value: [] });

    const breakpoint = computed(() => useBreakpoint().breakpoint());
    watch(
      breakpoint,
      () => {
        currentPage.value = 1;
        numberOfProductsPerPage.value = calculatingNumberOfProductsPerPage(
          breakpoint.value
        );
      },
      {
        immediate: true
      }
    );

    const selection = reactive({ items: [] });
    let items = useCategories().categoryTree();
    const loading = useLoading().loading;
    watch(
      loading,
      () => {
        products.value = [];
      },
      { immediate: true }
    );

    watch(
      selection,
      value => {
        currentPage.value = 1;
        const ids = value.items.map(item => item.id);
        products.value = useProducts().productsFilteredByCategoryIds(ids);
      },
      {
        immediate: true
      }
    );

    return {
      search,
      filter,
      sortDesc,
      currentPage,
      numberOfProductsPerPage,
      sortBy,
      sortingOptions,
      products,
      selection,
      items
    };
  }
};
</script>

<style lang="scss" scoped>
li {
  list-style-type: none;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
  margin: 0 1rem;
  padding: 2rem 0.5rem 1rem;
  border-bottom: 1px solid #c5d0d1;

  &__controls {
    display: flex;
  }

  &__icon {
    width: 1rem;
    height: 1rem;
    fill: currentColor;
  }

  &__label {
    position: relative;
    margin-left: 1rem;
    text-transform: capitalize;
    z-index: 1;
    cursor: pointer;

    &::after {
      content: '\00d7';
      display: inline-block;
      color: transparent;
      width: 0.5rem;
      font-weight: 400;
      transform: scale(0);
      transition: transform 150ms ease-in-out;
    }

    &--clear {
      color: #f68185;
      opacity: 0;
      transform: translate3d(-25%, 0, 0);
      pointer-events: none;
      transition: all 275ms ease-in-out;
    }

    &--filter ~ &--clear {
      opacity: 1;
      transform: translate3d(0, 0, 0);
      pointer-events: auto;
    }

    &--filter::after,
    &--active::after {
      transform: scale(1);
    }

    &--filter::after {
      content: '\2022';
      color: #46d2c4;
    }

    &--active::after {
      content: '\00d7';
      color: #f68185;
    }
  }
}

.dropdown {
  position: relative;
  height: 0;
  overflow: hidden;
  transition: height 350ms;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1rem;
    background-image: linear-gradient(to top, white, rgba(white, 0));
  }

  &-enter,
  &-leave-to {
    opacity: 0;
  }

  &-leave,
  &-enter-to {
    opacity: 1;
  }

  &-enter-active,
  &-leave-active {
    position: absolute;
    width: 100%;
    transition: opacity 200ms ease-in-out;
  }

  &-enter-active {
    transition-delay: 100ms;
  }
}

.filters {
  padding: 0 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;

  &__item {
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    padding: 0.25rem 0.5rem;
    border: 1px solid #c5d0d1;
    border-radius: 6px;
    font-size: 0.8rem;
    line-height: 1.35;
    cursor: pointer;
    transition: all 275ms;

    &:hover {
      border-color: #379a93;
    }

    &--active {
      color: white;
      border-color: #379a93;
      background-color: #379a93;
    }
  }

  &__rating {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 0;
  }

  &__range {
    width: 200px;
    margin-top: 1rem;
    color: inherit;

    &::-webkit-slider-thumb {
      width: 0.8rem;
      height: 0.8rem;
      margin-top: calc(-0.4rem + 2px);
      border-radius: 100%;
      background-color: currentColor;
    }

    &::-webkit-slider-runnable-track {
      width: 100%;
      height: 4px;
      background-image: linear-gradient(to right, white, #46d2c4);
    }
  }
}
</style>
