<template>
  <v-app-bar app color="appBar" dark>
    <v-app-bar-nav-icon @click.stop="switchDrawer" />
    <v-toolbar-title style="width: 300px">
      <router-link to="/" tag="span" class="pointer">
        <v-icon large>mdi-home</v-icon>
      </router-link>
    </v-toolbar-title>
    <v-spacer />
    <v-tooltip bottom color="accent black--text">
      <template #activator="{ on }">
        <v-btn icon to="/search/" v-on="on">
          <v-icon>mdi-magnify</v-icon>
        </v-btn>
      </template>
      <span>Страница поиска</span>
    </v-tooltip>
    <v-tooltip bottom color="accent black--text">
      <template #activator="{ on }">
        <v-btn icon to="/bucket/" v-on="on">
          <v-badge
            color="red"
            overlap
            :content="productCountInBucket"
            :value="productCountInBucket"
          >
            <v-icon>mdi-cart-outline</v-icon>
          </v-badge>
        </v-btn>
      </template>
      <span>Корзина</span>
    </v-tooltip>
    <v-menu bottom left offset-y v-if="profile">
      <template #activator="{ on }">
        <v-btn class="ma-2" icon v-on="on">
          <v-tooltip bottom color="accent black--text">
            <template #activator="{ on }">
              <v-avatar item size="30px" :v-if="profile.photoURL">
                <v-img
                  alt="John"
                  v-on="on"
                  :src="profile.photoURL ? profile.photoURL : '/account.png'"
                />
              </v-avatar>
            </template>
            <span>Профиль</span>
          </v-tooltip>
        </v-btn>
      </template>
      <v-list dense>
        <v-list-item-group color="primary">
          <v-list-item>
            <v-list-item-avatar>
              <v-avatar class="ml-1" item size="30px" :v-if="profile.photoURL">
                <v-img
                  alt="John"
                  :src="profile.photoURL ? profile.photoURL : '/account.png'"
                />
              </v-avatar>
            </v-list-item-avatar>

            <v-list-item-content class="ml-2">
              <v-list-item-title>
                {{ profile.displayName ? profile.displayName : profile.email }}
              </v-list-item-title>
              <v-list-item-subtitle>
                {{ profile.email }}
              </v-list-item-subtitle>
            </v-list-item-content>

            <v-list-item-action>
              <v-tooltip bottom color="accent black--text">
                <template #activator="{ on }">
                  <v-btn v-on="on" icon>
                    <v-icon
                      :class="profile.emailVerified ? 'green--text' : ''"
                      :disabled="!profile.emailVerified"
                    >
                      mdi-check-decagram
                    </v-icon>
                  </v-btn>
                </template>
                <span v-if="profile.emailVerified">Почта верифицирована</span>
                <span v-else>Почта не верифицирована</span>
              </v-tooltip>
            </v-list-item-action>
          </v-list-item>

          <v-divider class="mb-3" />

          <v-list-item to="/profile">
            <v-list-item-icon>
              <v-icon class="ml-2">mdi-account-cog</v-icon>
            </v-list-item-icon>

            <v-list-item-content>
              <v-list-item-title v-text="'Настройки'" />
            </v-list-item-content>
          </v-list-item>

          <v-list-item to="/bucket">
            <v-list-item-icon>
              <v-icon class="ml-2">mdi-history</v-icon>
            </v-list-item-icon>

            <v-list-item-content>
              <v-list-item-title v-text="'История покупок'" />
            </v-list-item-content>
          </v-list-item>

          <v-list-item @click="onLogout">
            <v-list-item-icon>
              <v-icon class="ml-2">mdi-logout-variant</v-icon>
            </v-list-item-icon>

            <v-list-item-content>
              <v-list-item-title v-text="'Выход из учетной записи'" />
            </v-list-item-content>
          </v-list-item>
        </v-list-item-group>
      </v-list>
    </v-menu>
    <v-btn v-else icon to="/login" class="ma-2">
      <v-tooltip bottom color="accent black--text">
        <template #activator="{ on }">
          <v-icon v-on="on">mdi-login-variant</v-icon>
        </template>
        <span>Авторизоваться</span>
      </v-tooltip>
    </v-btn>
    <v-tooltip bottom color="accent black--text">
      <template #activator="{ on }">
        <v-btn icon @click="switchTheme($vuetify)" v-on="on">
          <v-icon> mdi-theme-light-dark</v-icon>
        </v-btn>
      </template>
      <span>Тема</span>
    </v-tooltip>
    <template #extension v-if="breakpoint">
      <nav class="nav">
        <div class="nav__item" v-for="menuItem of menu" :key="menuItem.id">
          <div class="nav__item__title">
            <v-icon class="mr-1" small>{{ menuItem.icon }}</v-icon>
            <a @click="toUrl(menuItem)">
              {{ menuItem.name }}
            </a>
          </div>
          <div class="nav__item__content appBar">
            <a
              v-for="menuSubItem of menuItem.children"
              :key="menuSubItem.id"
              @click="toUrl(menuSubItem)"
            >
              {{ menuSubItem.name }}
            </a>
          </div>
        </div>
      </nav>
    </template>
    <v-progress-linear
      :active="loading"
      :indeterminate="loading"
      absolute
      bottom
      color="accent"
      fixed
    />
  </v-app-bar>
</template>

<script>
import { computed, ref, onBeforeMount } from '@vue/composition-api';
import { useBucket } from '../compositions/product';
import { useProfile } from '../compositions/profile';
import {
  useBreakpoint,
  useDrawer,
  useLoading,
  useTheme
} from '../compositions/common';
import { useCategories } from '../compositions/category';
import router from '../router';

export default {
  name: 'TheAppBar',
  setup() {
    const drawer = useDrawer().drawer;
    const switchDrawer = useDrawer().switchDrawer;
    onBeforeMount(() => {
      if (drawer.value.model) {
        switchDrawer();
      }
    });

    const profile = ref(useProfile().profile);
    const onLogout = useProfile().logout;
    const productCountInBucket = ref(useBucket().productCountInBucket);

    const loading = ref(useLoading().loading);

    const switchTheme = useTheme().switchTheme;

    const menu = useCategories().categoryTree();

    const toUrl = ({ id }) => {
      router.push(`/productCategory/${id}`).catch(() => {});
    };

    const breakpoint = computed(() => {
      const breakpoint = useBreakpoint().breakpoint();
      return !(breakpoint.name === 'sm' || breakpoint.name === 'xs');
    });

    return {
      productCountInBucket,
      switchDrawer,
      loading,
      menu,
      onLogout,
      profile,
      switchTheme,
      toUrl,
      breakpoint
    };
  }
};
</script>

<style lang="scss" scoped>
.nav {
  margin-left: 20px;

  & a {
    color: white;
  }

  & .nav__item {
    display: inline-flex;
    overflow: hidden;

    & .nav__item__content {
      display: none;
      position: absolute;
      top: 48px;
      min-width: 160px;
      z-index: 1;

      & a {
        float: none;
        color: white;
        padding: 6px 12px;
        text-decoration: none;
        display: block;
        text-align: left;
        font-size: 0.8125rem;

        &:hover {
          background-color: gray;
        }
      }
    }

    &:hover .nav__item__content {
      display: block;
    }

    & .nav__item__title {
      border: none;
      outline: none;
      padding: 14px 16px;
      background-color: inherit;
      margin: 0;
      & a {
        color: white;
        font-family: inherit;
        font-size: 0.8125rem;
      }
    }
  }
}
</style>
