<template>
  <v-card
    class="mx-auto hidden-sm-and-down"
    color="background"
    max-width="1200"
    flat
  >
    <v-container fluid>
      <v-row dense justify="center">
        <v-col
          v-for="article of articlesOnPage"
          :key="article.id"
          :cols="article.flex"
        >
          <v-hover>
            <template v-slot="{ hover }">
              <v-card
                class="ma-1"
                :class="`elevation-${hover ? 12 : 0}`"
                color="appBar"
              >
                <v-img
                  :src="article.src"
                  class="align-end"
                  gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)"
                  height="300px"
                >
                  <v-card-text :class="hover ? 'accent--text' : 'white--text'">
                    {{ article.title }}
                  </v-card-text>
                </v-img>

                <v-card-actions>
                  <v-hover>
                    <template v-slot="{ hover }">
                      <v-chip
                        outlined
                        :color="hover ? 'accent' : 'information'"
                      >
                        Подробнее
                        <v-icon right>mdi-chevron-right</v-icon>
                      </v-chip>
                    </template>
                  </v-hover>
                </v-card-actions>
              </v-card>
            </template>
          </v-hover>
        </v-col>
        <v-col md="12" lg="12" xl="12">
          <v-pagination v-model="page" :length="pages" color="secondary" />
        </v-col>
      </v-row>
    </v-container>
  </v-card>
</template>

<script>
import { computed, reactive, ref } from '@vue/composition-api';

export default {
  name: 'TheArticleList',
  setup() {
    const articles = reactive({
      items: [
        {
          id: 1,
          title: 'Как заставить себя полюбить читать',
          src: '/articles/reading.jpg',
          flex: 4
        },
        {
          id: 2,
          title: '8 захватывающих детективов, отнимающих дар речи',
          src: '/articles/detectives.jpg',
          flex: 4
        },
        {
          id: 3,
          title: 'Что почитать, если не спится ночью',
          src: '/articles/reading-before-sleeping.jpg',
          flex: 4
        },
        {
          id: 4,
          title: '7 научно-популярных книг о космосе',
          src: '/articles/science.png',
          flex: 4
        },
        {
          id: 5,
          title: 'Книга vs Фильм',
          src: '/articles/book-vs-movie.jpg',
          flex: 4
        },
        {
          id: 6,
          title: 'Что почитать, если вы хотите собаку',
          src: '/articles/dog.jpg',
          flex: 4
        },
        {
          id: 7,
          title: 'Книги, которые должнен прочитать каждый',
          src: '/articles/main-books.jpg',
          flex: 4
        }
      ]
    });

    const page = ref(1);
    const articleCountOnPage = 6;
    const pages = computed(() =>
      Math.ceil(articles.items.length / articleCountOnPage)
    );
    const articlesOnPage = computed(() => {
      const start = (page.value - 1) * articleCountOnPage;
      const end = start + articleCountOnPage - 1;
      if (end >= articles.items.length) return articles.items.slice(start);
      return articles.items.slice(start, end + 1);
    });

    return {
      articlesOnPage,
      page,
      pages
    };
  }
};
</script>

<style scoped></style>
