<template>
  <v-card max-width="1200" class="mx-auto" flat color="background">
    <v-row class="d-flex justify-center">
      <v-col cols="12" sm="12" md="4" lg="3" xl="3">
        <v-card class="d-flex justify-center" flat color="background">
          <v-hover #default="{hover}">
            <v-card width="300" flat :elevation="hover ? 5 : 1">
              <v-carousel
                :show-arrows-on-hover="true"
                hide-delimiter-background
                height="300"
              >
                <v-carousel-item
                  v-for="(slide, i) of offers"
                  :key="i"
                  :src="slide.src"
                />
              </v-carousel>
            </v-card>
          </v-hover>
        </v-card>
      </v-col>
      <v-col md="8" lg="9" xl="9" class="hidden-sm-and-down">
        <v-hover #default="{hover}">
          <v-card
            min-height="300"
            min-width="300"
            color="background"
            outlined
            :elevation="hover ? 5 : 0"
          >
            <v-card-title class="primary--text">Новости за неделю</v-card-title>
            <v-list max-height="300" color="background" dense>
              <v-list-item-group>
                <template v-for="(item, index) of news">
                  <v-list-item :key="item.title">
                    <v-list-item-content>
                      <v-list-item-title v-text="item.title" />
                    </v-list-item-content>
                    <v-list-item-action>
                      <v-list-item-action-text v-text="item.date" />
                    </v-list-item-action>
                  </v-list-item>

                  <v-divider
                    v-if="index + 1 < news.length"
                    :key="index"
                  ></v-divider>
                </template>
              </v-list-item-group>
            </v-list>
          </v-card>
        </v-hover>
      </v-col>
    </v-row>
  </v-card>
</template>

<script>
export default {
  name: 'TheBanner',
  setup() {
    const offers = [
      { src: 'banner/banner_1.png' },
      { src: 'banner/banner_2.png' },
      { src: 'banner/banner_3.png' }
    ];

    const news = [
      {
        title:
          'Джордж Мартин сказал, когда допишет шестую часть саги «Песнь льда и огня»',
        date: '2020-07-23'
      },
      {
        title: 'Стивен Кинг поделился идеей новой книги',
        date: '2020-07-22'
      },
      {
        title: 'Сериал «Дивный новый мир»',
        date: '2020-07-21'
      },
      {
        title: 'В 2021 году выйдет новая книга Джона Толкина',
        date: '2020-07-20'
      },
      {
        title: 'Новую книгу Джоан Роулинг перевели на русский язык',
        date: '2020-07-19'
      }
    ];

    return {
      offers,
      news
    };
  }
};
</script>

<style scoped></style>
