<template>
  <v-footer padless>
    <v-card flat tile class="appBar white--text text-center">
      <v-card-text>
        <v-btn
          v-for="link of links"
          class="ma-4 white--text"
          outlined
          :key="link.url"
          :href="link.url"
          target="_blank"
        >
          <v-icon>{{ link.icon }}</v-icon>
        </v-btn>
      </v-card-text>

      <v-card-text class="white--text pt-0">
        Купить книги в любых городах страны легко: нужно прийти в магазин и
        выбрать среди множества новинок, классических изданий и другой
        литературы. Но что делать, если вам нужна особенная книга? Вдруг её нет
        в наличии? Чтобы не обзванивать каждый магазин и не тратить впустую
        время на дорогу, воспользуйтесь интернет-магазином «BookStore».
      </v-card-text>
      <v-card-text class="white--text pt-0">
        Спасибо что выбрали нас!!!
      </v-card-text>

      <v-divider></v-divider>

      <v-card-text class="white--text">
        © {{ new Date().getFullYear() }} — <strong>BookStore</strong>
      </v-card-text>
    </v-card>
  </v-footer>
</template>

<script>
export default {
  name: 'TheFooter',

  setup() {
    const links = [
      {
        icon: 'mdi-bitbucket',
        url: 'https://bitbucket.org/ochirovas/bookstore2'
      },
      { icon: 'mdi-facebook', url: 'https://www.facebook.com' },
      { icon: 'mdi-twitter', url: 'https://twitter.com' },
      { icon: 'mdi-vk', url: 'https://vk.com' },
      { icon: 'mdi-telegram', url: 'https://telegram.org' },
      { icon: 'mdi-instagram', url: 'https://www.instagram.com' },
      { icon: 'mdi-youtube', url: 'https://www.youtube.com' }
    ];

    return {
      links
    };
  }
};
</script>

<style scoped></style>
