<template>
  <v-navigation-drawer
    app
    color="navigationDraw"
    temporary
    v-model="drawer.model"
    width="300px"
    :mini-variant="drawer.mini"
  >
    <v-list class="mb-2" v-if="profile">
      <v-list-item two-line>
        <v-list-item-avatar>
          <v-img :src="profile.photoURL ? profile.photoURL : '/account.png'" />
        </v-list-item-avatar>

        <v-list-item-content>
          <v-list-item-title>
            {{
              profile.displayName
                ? profile.displayName
                : 'Безымянный пользователь'
            }}
          </v-list-item-title>
          <v-list-item-subtitle>{{ profile.email }}</v-list-item-subtitle>
        </v-list-item-content>
      </v-list-item>
    </v-list>
    <v-list dense>
      <v-list-group
        no-action
        v-for="menuItem of menu"
        :key="menuItem.id"
        :value="menuItem.active"
        :prepend-icon="menuItem.icon"
      >
        <template #activator>
          <v-list-item-content>
            <v-list-item-title v-text="menuItem.name"></v-list-item-title>
          </v-list-item-content>
        </template>
        <v-list-item
          v-for="subItem of menuItem.children"
          :key="subItem.id"
          :to="'/productCategory/' + subItem.id"
        >
          <v-list-item-content>
            <v-list-item-title v-text="subItem.name"></v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list-group>
      <v-list-group
        no-action
        prepend-icon="mdi-shield-account"
        v-if="profile && profile.isAdmin"
      >
        <template #activator>
          <v-list-item-content>
            <v-list-item-title>Администрирование</v-list-item-title>
          </v-list-item-content>
        </template>
        <v-list-item :to="'/profileList/'">
          <v-list-item-content>
            <v-list-item-title>Список пользователей</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item :to="'/productList/'">
          <v-list-item-content>
            <v-list-item-title>Список товаров</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list-group>
    </v-list>
  </v-navigation-drawer>
</template>

<script>
import { reactive } from '@vue/composition-api';
import { useProfile } from '../compositions/profile';
import { useDrawer } from '../compositions/common';
import { useCategories } from '../compositions/category';

export default {
  name: 'TheNavigationDrawer',
  setup() {
    const drawer = useDrawer().drawer;
    const menu = useCategories().categoryTree();
    const profile = reactive(useProfile().profile);

    return {
      drawer,
      menu,
      profile
    };
  }
};
</script>

<style scoped></style>
