<template>
  <v-container fluid>
    <v-card flat min-height="655px">
      <v-data-table
        class="elevation-0"
        loading-text="Идет загрузка... Пожалуйста, подождите"
        sort-by="releaseDate"
        :headers="headers.items"
        :items="products.items"
        :search="search"
      >
        <template #item.availability="{ item }">
          {{ item.availability > 0 ? item.availability : 'Нет в наличии' }}
        </template>
        <template #item.imagePreview="{ item }">
          <div class="d-inline-block mr-1">
            <v-tooltip absolute>
              <template #activator="{ on }">
                <v-icon color="info" :disabled="!item.imagePreview" v-on="on">
                  mdi-image-outline
                </v-icon>
              </template>
              <v-img
                max-height="450px"
                max-width="300px"
                :src="item.imagePreview"
              />
            </v-tooltip>
          </div>
        </template>
        <template #top>
          <v-toolbar flat>
            <h2 class="title hidden-sm-and-down">Товары</h2>
            <v-spacer />
            <v-text-field
              v-model="search"
              prepend-inner-icon="mdi-feature-search-outline"
              label="Поиск"
              single-line
              hide-details
              class="mr-5"
            />
            <v-dialog
              v-model="dialog"
              fullscreen
              hide-overlay
              transition="dialog-bottom-transition"
            >
              <template #activator="{ on }">
                <v-btn color="primary" small v-on="on" outlined>
                  Новый товар
                </v-btn>
              </template>
              <v-card>
                <v-toolbar color="appBar" dark>
                  <v-btn icon dark @click="close">
                    <v-icon>mdi-close</v-icon>
                  </v-btn>
                  <v-toolbar-title class="hidden-sm-and-down dialog-form">
                    {{
                      editedIndex === -1
                        ? 'Новый товар'
                        : `Товар №  ${editedItem.value.id}`
                    }}
                  </v-toolbar-title>
                  <v-spacer />
                  <v-toolbar-items>
                    <v-btn dark text @click="save">
                      Сохранить
                    </v-btn>
                  </v-toolbar-items>
                </v-toolbar>
                <v-layout row wrap>
                  <v-row dense justify="center">
                    <v-col cols="12" sm="6" md="6" lg="6" xl="6">
                      <v-form ref="form" class="ma-5" lazy-validation>
                        <v-container fluid>
                          <v-row dense>
                            <v-col cols="12" sm="12" md="12" lg="12" xl="12">
                              <v-autocomplete
                                v-model="selectedCategoryMenuItem"
                                :items="itemsMenu.items"
                                :search-input.sync="searchMenu"
                                cache-items
                                label="Категория"
                                item-text="name"
                                item-value="name"
                                clearable
                                return-object
                              >
                                <template #item="data">
                                  <v-list-item-icon class="mr-5">
                                    <v-icon v-text="data.item.icon" />
                                  </v-list-item-icon>
                                  <v-list-item-content
                                    class="list-item-content"
                                  >
                                    <v-list-item-title
                                      v-text="data.item.name"
                                    />
                                    <v-list-item-subtitle
                                      v-text="data.item.description"
                                    />
                                  </v-list-item-content>
                                </template>
                              </v-autocomplete>
                            </v-col>

                            <v-col cols="12" sm="12" md="12" lg="12" xl="12">
                              <v-row justify="center">
                                <input
                                  ref="fileInput"
                                  type="file"
                                  style="display: none"
                                  accept="image/*"
                                  @change="onFileChange"
                                />
                                <v-hover #default="{ hover }" class="mx-auto">
                                  <v-avatar
                                    :color="imageBuffer ? '' : 'grey'"
                                    height="300px"
                                    width="200px"
                                    tile
                                  >
                                    <v-img
                                      :src="
                                        editedItem.value.imagePreview
                                          ? editedItem.value.imagePreview
                                          : imageBuffer
                                          ? '/book.png'
                                          : ''
                                      "
                                    >
                                      <v-expand-transition>
                                        <div
                                          v-if="hover"
                                          class="d-flex transition-fast-in-fast-out black darken-2 v-card--reveal"
                                          style="height: 100%;"
                                        >
                                          <v-btn
                                            icon
                                            dark
                                            x-large
                                            @click="$refs.fileInput.click()"
                                          >
                                            <v-icon>mdi-cloud-upload</v-icon>
                                          </v-btn>
                                          <v-btn
                                            v-if="
                                              editedItem.value.imagePreview ||
                                                imageBuffer
                                            "
                                            icon
                                            dark
                                            x-large
                                            @click="deleteImagePreview"
                                          >
                                            <v-icon>mdi-close-circle</v-icon>
                                          </v-btn>
                                        </div>
                                      </v-expand-transition>
                                    </v-img>
                                  </v-avatar>
                                </v-hover>
                              </v-row>
                            </v-col>
                            <v-col cols="12" sm="12" md="12" lg="12" xl="12">
                              <v-text-field
                                v-model="editedItem.value.name"
                                label="Название"
                              />
                            </v-col>
                            <v-col cols="12" sm="12" md="12" lg="6" xl="6">
                              <v-text-field
                                v-model="editedItem.value.author"
                                label="Автор"
                              />
                            </v-col>

                            <v-col cols="12" sm="12" md="12" lg="6" xl="6">
                              <v-text-field
                                v-model="editedItem.value.series"
                                label="Цикл/Серия"
                              />
                            </v-col>

                            <v-col cols="12" sm="12" md="12" lg="6" xl="6">
                              <v-text-field
                                v-model="editedItem.value.translator"
                                label="Переводчик"
                              />
                            </v-col>

                            <v-col cols="12" sm="12" md="12" lg="6" xl="6">
                              <v-text-field
                                v-model="editedItem.value.producer"
                                label="Издательство/Производство"
                              />
                            </v-col>

                            <v-col cols="12" sm="6" md="4" lg="2" xl="2">
                              <v-text-field
                                v-model="editedItem.value.isbn"
                                label="ISBN"
                              />
                            </v-col>

                            <v-col cols="6" sm="6" md="4" lg="2" xl="2">
                              <v-text-field
                                v-model="editedItem.value.year"
                                label="Год издания"
                                type="number"
                              />
                            </v-col>

                            <v-col cols="6" sm="6" md="4" lg="2" xl="2">
                              <v-text-field
                                v-model="editedItem.value.pages"
                                label="Кол-во страниц"
                                type="number"
                              />
                            </v-col>

                            <v-col cols="12" sm="6" md="6" lg="4" xl="4">
                              <v-select
                                v-model="editedItem.value.cover"
                                :items="coverType"
                                label="Тип обложки"
                              />
                            </v-col>

                            <v-col cols="12" sm="6" md="6" lg="2" xl="2">
                              <v-text-field
                                v-model="editedItem.value.format"
                                label="Формат"
                              />
                            </v-col>

                            <v-col cols="6" sm="6" md="4" lg="2" xl="2">
                              <v-text-field
                                v-model="editedItem.value.edition"
                                label="Тираж"
                                type="number"
                              />
                            </v-col>

                            <v-col cols="6" sm="6" md="4" lg="2" xl="2">
                              <v-text-field
                                v-model="editedItem.value.weight"
                                label="Вес, г"
                                type="number"
                              />
                            </v-col>

                            <v-col cols="6" sm="6" md="4" lg="2" xl="2">
                              <v-select
                                v-model="editedItem.value.age"
                                :items="ageLimits"
                                label="Возраст"
                              />
                            </v-col>

                            <v-col cols="6" sm="6" md="4" lg="2" xl="2">
                              <v-text-field
                                v-model="editedItem.value.availability"
                                label="В наличии"
                                type="number"
                              />
                            </v-col>

                            <v-col cols="6" sm="6" md="4" lg="2" xl="2">
                              <v-text-field
                                v-model="editedItem.value.cost"
                                label="Цена"
                                type="number"
                              />
                            </v-col>

                            <v-col cols="6" sm="6" md="4" lg="2" xl="2">
                              <v-text-field
                                v-model="editedItem.value.releaseDate"
                                label="Дата поступления"
                                type="date"
                              />
                            </v-col>

                            <v-col cols="12" sm="12" md="12" lg="12" xl="12">
                              <v-textarea
                                rows="10"
                                v-model="editedItem.value.annotation"
                                label="Аннотация"
                              />
                            </v-col>
                            <v-col cols="12" sm="12" md="12" lg="12" xl="12">
                              <v-dialog
                                v-model="dialogDeletion"
                                persistent
                                max-width="500"
                              >
                                <template #activator="{ on }">
                                  <v-btn
                                    color="error"
                                    dark
                                    outlined
                                    v-on="on"
                                    :disabled="editedIndex === -1"
                                  >
                                    Удалить товар
                                  </v-btn>
                                </template>
                                <v-card
                                  color="deep-orange lighten-3 black--text"
                                >
                                  <v-card-title>
                                    Подтверждение
                                  </v-card-title>
                                  <v-card-text class="black--text">
                                    Вы действительно хотите удалить товар?
                                  </v-card-text>
                                  <v-card-actions>
                                    <v-spacer></v-spacer>
                                    <v-btn
                                      color="white darken-1"
                                      text
                                      @click="dialogDeletion = false"
                                    >
                                      Отмена
                                    </v-btn>
                                    <v-btn
                                      color="black"
                                      text
                                      @click="deleteItem(editedItem)"
                                    >
                                      ОК
                                    </v-btn>
                                  </v-card-actions>
                                </v-card>
                              </v-dialog>
                            </v-col>
                          </v-row>
                        </v-container>
                      </v-form>
                    </v-col>
                  </v-row>
                </v-layout>
              </v-card>
            </v-dialog>
          </v-toolbar>
        </template>
        <template #item.action="{ item }">
          <v-btn
            small
            color="secondary"
            @click="editItem(item)"
            outlined
            class="mr-2"
          >
            Изменить
          </v-btn>
        </template>
        <template #no-data />
      </v-data-table>
    </v-card>
    <v-card elevation="0">
      <v-card-title class="title">Фильтры</v-card-title>
      <v-card-text>
        <v-chip-group v-model="categoryFilter" column>
          <v-chip
            color="primary"
            filter
            outlined
            v-for="category of categories.items"
            :key="category.id"
          >
            {{ category.name }}
          </v-chip>
        </v-chip-group>
        <v-chip-group
          v-if="typeof categoryFilter === 'number'"
          v-model="subCategoryFilter"
          column
        >
          <v-chip
            color="primary"
            filter
            outlined
            v-for="subCategory of subCategories.items"
            :key="subCategory.id"
          >
            {{ subCategory.name }}
          </v-chip>
        </v-chip-group>
      </v-card-text>
    </v-card>
  </v-container>
</template>

<script>
import { ref, reactive, watch } from '@vue/composition-api';
import { useProducts } from '../../compositions/product';
import { useCategories } from '../../compositions/category';
import { useAttributes } from '../../compositions/common';
import { useLoading } from '../../compositions/common';

export default {
  name: 'ProductList',

  setup() {
    const dialog = ref(false);
    const search = ref('');
    const headers = reactive({
      items: [
        { text: 'Наименование', value: 'name' },
        { text: 'Превью', value: 'imagePreview' },
        { text: 'Автор', value: 'author' },
        { text: 'Серия', value: 'series' },
        { text: 'Издательство/Производитель', value: 'producer' },
        { text: 'Цена', value: 'cost' },
        { text: 'Дата поступления', value: 'releaseDate' },
        { text: 'Наличие', value: 'availability' },
        { text: 'Опции', value: 'action', sortable: false }
      ]
    });
    const products = reactive({ items: [] });
    const editedIndex = ref(-1);
    const editedItem = reactive({ value: {} });
    const categoryFilter = ref(null);
    const categories = reactive({ items: useCategories().mainCategories() });
    const subCategoryFilter = ref(null);
    const subCategories = reactive({ items: [] });
    const searchMenu = ref(null);
    const selectedCategoryMenuItem = ref(null);
    const categoryMenuItems = reactive({
      items: useCategories().finalSubCategories()
    });
    const itemsMenu = reactive({ items: categoryMenuItems.items });
    const ageLimits = useAttributes().ageLimits;
    const coverType = useAttributes().coverTypes;
    const imageBuffer = ref(null);
    const imageConfirm = ref(false);

    const close = () => {
      editedItem.value = {};
      selectedCategoryMenuItem.value = null;
      editedIndex.value = -1;
      imageBuffer.value = null;
      imageConfirm.value = false;
      dialog.value = false;
    };

    const editItem = item => {
      editedIndex.value = products.items.indexOf(item);
      editedItem.value = Object.assign({}, item);

      if (
        editedItem.value.categories &&
        editedItem.value.categories.length > 0
      ) {
        const category = categoryMenuItems.items.find(
          item =>
            item.id ===
            editedItem.value.categories[editedItem.value.categories.length - 1]
        );
        selectedCategoryMenuItem.value = category ? category : null;
      }
      dialog.value = true;
    };

    const deleteItem = item => {
      useProducts().deleteProduct(item.value.id);
      dialogDeletion.value = false;
      dialog.value = false;
    };

    const save = () => {
      if (editedIndex.value === -1) {
        useProducts().createProduct({
          product: editedItem.value,
          image: imageBuffer.value,
          imageConfirm: imageConfirm.value
        });
      } else {
        useProducts().updateProduct({
          product: editedItem.value,
          image: imageBuffer.value,
          imageConfirm: imageConfirm.value
        });
        products.items.splice(editedIndex.value, 1, editedItem.value);
      }
      imageBuffer.value = null;
      imageConfirm.value = false;

      close();
    };

    const onFileChange = event => {
      if (event.target.files.length !== 0) {
        imageBuffer.value = event.target.files[0];
        const reader = new FileReader();
        reader.onload = () => {};
        reader.readAsDataURL(imageBuffer.value);
        imageConfirm.value = true;
      }
    };

    const deleteImagePreview = () => {
      imageBuffer.value = null;
      imageConfirm.value = true;
    };

    const loading = useLoading().loading;
    watch(
      loading,
      () => {
        products.items = [...useProducts().products.value];
      },
      {
        immediate: true
      }
    );

    watch(selectedCategoryMenuItem, updatedValue => {
      editedItem.value.categories = (updatedValue && updatedValue.path) || null;
    });

    watch(categoryFilter, indexOfMainCategory => {
      if (typeof indexOfMainCategory === 'number') {
        const mainCategoryFilterId = categories.items[indexOfMainCategory].id;
        subCategories.items = useCategories().subCategoriesById(
          mainCategoryFilterId
        );
        products.items = useProducts().productsByCategoryId(
          mainCategoryFilterId
        );
      } else {
        subCategoryFilter.value = null;
        subCategories.items = [];
        products.items = [...useProducts().products.value];
      }
    });

    watch(subCategoryFilter, indexOfSubCategory => {
      if (typeof indexOfSubCategory === 'number') {
        products.items = useProducts().productsByCategoryId(
          subCategories.items[indexOfSubCategory].id
        );
      } else {
        if (typeof categoryFilter.value === 'number') {
          products.items = useProducts().productsByCategoryId(
            categories.items[categoryFilter.value].id
          );
        } else {
          products.items = [...useProducts().products.value];
        }
      }
    });

    const dialogDeletion = ref(false);

    return {
      dialog,
      dialogDeletion,
      search,
      headers,
      products,
      editedIndex,
      editedItem,
      categoryFilter,
      categories,
      subCategoryFilter,
      subCategories,
      itemsMenu,
      searchMenu,
      selectedCategoryMenuItem,
      categoryMenuItems,
      ageLimits,
      coverType,
      imageBuffer,
      imageConfirm,
      close,
      editItem,
      deleteItem,
      save,
      onFileChange,
      deleteImagePreview
    };
  }
};
</script>

<style lang="scss" scoped>
.list-item-content {
  max-width: 800px;
}

.v-card--reveal {
  align-items: center;
  bottom: 0;
  justify-content: center;
  opacity: 0.5;
  position: absolute;
  width: 100%;
}

.dialog-form {
  font-size: 1rem;
}
</style>
