<template>
  <v-container fluid>
    <v-data-table
      class="elevation-0"
      loading-text="Идет загрузка... Пожалуйста, подождите"
      sort-by="calories"
      :headers="headers"
      :items="profileList.items"
      :loading="loading"
      :search="search"
    >
      <template #item.isActive="{ item }">
        <v-icon :class="item.isActive ? 'green--text' : 'error--text'">
          {{
            item.isActive
              ? 'mdi-account-check-outline'
              : 'mdi-account-cancel-outline'
          }}
        </v-icon>
      </template>
      <template #item.email="{ item }">
        {{ item.email }}
        <v-avatar right>
          <v-icon color="green" v-if="item.emailVerified"
            >mdi-check-decagram</v-icon
          >
          <v-icon v-else disabled>mdi-check-decagram</v-icon>
        </v-avatar>
      </template>
      <template #top>
        <v-toolbar flat>
          <v-toolbar-title>Пользователи</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-text-field
            class="hidden-sm-and-down"
            hide-details
            label="Поиск"
            prepend-inner-icon="mdi-account-search"
            single-line
            v-model="search"
          />
          <v-dialog max-width="500px" v-model="dialog">
            <v-card>
              <v-card-title>
                <span class="headline">Пользователь</span>
              </v-card-title>
              <v-card-text>
                <v-container>
                  <v-row>
                    <v-col cols="12" sm="6" md="4">
                      <v-text-field
                        label="Статус"
                        v-model="editedItem.isActive"
                      />
                    </v-col>
                    <v-col cols="12" sm="6" md="4">
                      <v-text-field label="Почта" v-model="editedItem.email" />
                    </v-col>
                    <v-col cols="12" sm="6" md="4">
                      <v-text-field
                        label="Имя"
                        v-model="editedItem.displayName"
                      />
                    </v-col>
                    <v-col cols="12" sm="6" md="4">
                      <v-text-field
                        label="Время создания"
                        v-model="editedItem.creationTime"
                      />
                    </v-col>
                    <v-col cols="12" sm="6" md="4">
                      <v-text-field
                        label="Время последнего входа"
                        v-model="editedItem.lastSignInTime"
                      />
                    </v-col>
                  </v-row>
                </v-container>
              </v-card-text>

              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="primary" text @click="close">Закрыть</v-btn>
                <v-btn color="primary" text @click="save">Сохранить</v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-toolbar>
      </template>
      <template #item.action="{ item }">
        <v-icon class="mr-5" color="accent" @click="editItem(item)">
          mdi-pencil
        </v-icon>
        <v-icon color="error" @click="deleteItem(item)">
          mdi-delete
        </v-icon>
      </template>
      <template #no-data>
        <v-btn color="primary">Обновить</v-btn>
      </template>
    </v-data-table>
  </v-container>
</template>

<script>
import { ref, reactive, watch } from '@vue/composition-api';
import { useLoading } from '../../compositions/common';
import { useProfile } from '../../compositions/profile';

export default {
  name: 'ProfileList',

  setup() {
    const dialog = ref(false);
    const search = ref('');
    const profileList = reactive({
      items: []
    });
    const headers = [
      { text: 'Статус', value: 'isActive', align: 'center', sortable: true },
      { text: 'Почта', value: 'email', align: 'start', sortable: true },
      { text: 'Имя', value: 'displayName', align: 'start', sortable: true },
      {
        text: 'Время создания',
        value: 'creationTime',
        align: 'start',
        sortable: true
      },
      {
        text: 'Время последнего входа',
        value: 'lastSignInTime',
        align: 'start',
        sortable: true
      },
      { text: 'Функции', value: 'action', align: 'center', sortable: false }
    ];
    const editedIndex = ref(-1);
    const editedItem = ref({
      isActive: null,
      email: '',
      emailVerified: null,
      displayName: '',
      creationTime: null,
      lastSignInTime: null
    });
    const defaultItem = {
      isActive: null,
      email: '',
      emailVerified: null,
      displayName: '',
      creationTime: null,
      lastSignInTime: null
    };

    const loading = ref(useLoading().loading);
    watch(
      loading,
      () => (profileList.items = [...useProfile().profileList.value]),
      {
        immediate: true
      }
    );

    watch(dialog, value => {
      value || this.close();
    });

    return {
      loading,
      dialog,
      search,
      profileList,
      headers,
      editedIndex,
      editedItem,
      defaultItem
    };
  },

  methods: {
    editItem(item) {
      this.editedIndex = this.profileList.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
    },

    deleteItem(item) {
      const index = this.profileList.indexOf(item);
      confirm('Are you sure you want to delete this item?') &&
        this.profileList.splice(index, 1);
    },

    close() {
      this.dialog = false;
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      }, 300);
    },

    save() {
      if (this.editedIndex > -1) {
        Object.assign(this.profileList[this.editedIndex], this.editedItem);
      } else {
        this.profileList.push(this.editedItem);
      }
      this.close();
    }
  }
};
</script>
