<template>
  <v-app>
    <the-app-bar />
    <the-navigation-drawer />
    <v-content
      style="min-height: 1000px"
      :style="{ background: themeColors.background }"
    >
      <transition name="view">
        <router-view></router-view>
      </transition>
    </v-content>
    <the-footer />
    <v-snackbar
      right
      top
      v-model="snackbar"
      :timeout="5000"
      :color="messageColor"
    >
      {{ message.value ? message.value.text : '' }}
    </v-snackbar>
  </v-app>
</template>
<script>
import { reactive, ref, watch, computed } from '@vue/composition-api';
import { useSnackbar, useTheme } from './compositions/common';

export default {
  name: 'App',
  components: {
    TheAppBar: () => import('./components/TheAppBar'),
    TheNavigationDrawer: () => import('./components/TheNavigationDrawer'),
    TheFooter: () => import('./components/TheFooter')
  },
  setup() {
    const message = reactive({ value: useSnackbar().message });
    const snackbar = ref(false);
    const messageColor = computed(() => {
      let color =
        message.value && message.value.type
          ? `${message.value.type}`
          : 'accent black--text';
      if (color === 'success') color += ' white--text';
      if (color === 'error') color += ' black--text';
      return color;
    });

    watch(message, () => {
      message.value ? (snackbar.value = true) : (snackbar.value = false);
    });

    const themeColors = useTheme().themeColors;

    return {
      message,
      messageColor,
      snackbar,
      themeColors
    };
  }
};
</script>

<style lang="scss">
.pointer {
  cursor: pointer;
}

.h1 {
  text-align: center;
  font-size: 1.5em;
}

.h2 {
  text-align: center;
  font-size: 1em;
}

.view-enter-active,
.view-leave-active {
  transition: opacity 0.5s ease-in-out, transform 0.5s ease;
}
.view-enter-active {
  transition-delay: 0.5s;
}
.view-enter {
  opacity: 0;
  transform: translateY(-100px);
}
.view-enter-to {
  opacity: 1;
  transform: translateY(0px);
}
.view-leave {
  opacity: 1;
  transform: translateY(0px);
}
.view-leave-to {
  opacity: 0;
  transform: translateY(100px);
}
</style>
