<template>
  <v-container>
    <h1 class="primary--text pt-5 h1">
      Информация о профиле
    </h1>
    <input
      accept="image/*"
      ref="fileInput"
      style="display: none"
      type="file"
      @change="uploadPhoto"
    />
    <v-row justify="center">
      <v-card flat width="700px" color="background">
        <v-row class="ma-5" justify="center">
          <v-hover #default="{ hover }">
            <v-avatar color="accent" size="164">
              <v-img :src="photoURL ? photoURL : ''">
                <v-expand-transition>
                  <div
                    class="d-flex transition-fast-in-fast-out v-card--reveal"
                    style="height: 100%;"
                    v-if="hover"
                  >
                    <v-btn dark icon x-large @click="$refs.fileInput.click()">
                      <v-icon>mdi-cloud-upload</v-icon>
                    </v-btn>
                    <v-btn
                      v-if="photoURL"
                      dark
                      icon
                      x-large
                      @click="deletePhoto()"
                    >
                      <v-icon>mdi-close-circle</v-icon>
                    </v-btn>
                  </div>
                </v-expand-transition>
              </v-img>
            </v-avatar>
          </v-hover>
        </v-row>
        <v-row class="ma-5" dense justify="center">
          <v-btn
            v-if="!emailVerified"
            color="accent"
            small
            text
            :disabled="loading"
            @click="verificationEmail"
          >
            Подтвердить почту
          </v-btn>

          <v-btn small text :disabled="loading" @click="resetPassword">
            Обновить пароль
          </v-btn>
        </v-row>
        <v-form class="ma-5" ref="form" lazy-validation>
          <v-text-field
            label="Имя"
            v-model="displayName"
            :rules="displayNameRules"
            counter
          />
          <v-text-field
            v-model="email"
            label="Электронная почта"
            :rules="emailRules"
          />
          <v-row>
            <v-dialog v-model="dialogDeletion" persistent max-width="500">
              <template #activator="{ on }">
                <v-btn
                  v-on="on"
                  class="mr-2"
                  color="error"
                  small
                  text
                  :disabled="loading"
                >
                  Удалить профиль
                </v-btn>
              </template>
              <v-card color="secondary black--text">
                <v-card-title>
                  Подтверждение
                </v-card-title>
                <v-card-text class="black--text">
                  Вы действительно хотите удалить товар?
                </v-card-text>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn
                    color="white darken-1"
                    text
                    @click="dialogDeletion = false"
                  >
                    Отмена
                  </v-btn>
                  <v-btn color="black" text @click="deleteProfile">
                    ОК
                  </v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
            <v-spacer></v-spacer>
            <v-btn
              class="mr-3"
              color="success"
              small
              :disabled="!valid || loading"
              @click="updateProfile"
              outlined
            >
              Сохранить
            </v-btn>
          </v-row>
        </v-form>
      </v-card>
    </v-row>
  </v-container>
</template>

<script>
import { computed, ref, onUpdated } from '@vue/composition-api';
import { useLoading, useValidator } from '../../compositions/common';
import { useProfile } from '../../compositions/profile';

export default {
  name: 'Profile',

  setup() {
    const displayName = ref('');
    const email = ref('');
    const profile = ref(useProfile().profile);
    const emailVerified = ref(false);

    if (profile.value) {
      displayName.value = profile.value.displayName;
      email.value = profile.value.email;
      emailVerified.value = profile.value.emailVerified;
    }
    const photoURL = computed(() => {
      return profile.value ? profile.value.photoURL : null;
    });

    const verificationEmail = useProfile().verificationEmail;
    const resetPassword = useProfile().resetPassword;
    const deleteProfile = () => {
      useProfile().deleteProfile();
      dialogDeletion.value = false;
    };
    const deletePhoto = useProfile().uploadPhoto;
    const uploadPhoto = event => {
      const photo = event.target.files[0];
      const reader = new FileReader();
      reader.onload = () => {};
      reader.readAsDataURL(photo);
      useProfile().uploadPhoto(photo);
    };
    const updateProfile = () => {
      validate();
      if (valid.value) {
        const updates = {
          displayName: displayName.value,
          photoURL: photoURL.value,
          email: email.value
        };
        useProfile().updateProfile(updates);
      }
    };

    const displayNameRules = [
      str => useValidator().nullValidation({ str }),
      str => useValidator().minLengthValidation({ str, min: 10 }),
      str => useValidator().maxLengthValidation({ str, max: 20 })
    ];
    const emailRules = [
      str => useValidator().nullValidation({ str }),
      str => useValidator().emailValidation({ str })
    ];
    const form = ref(null);
    const valid = ref(true);
    const validate = () => (valid.value = form.value.validate());

    onUpdated(() => {
      validate();
    });

    const loading = ref(useLoading().loading);

    const dialogDeletion = ref(false);

    return {
      loading,
      valid,
      displayName,
      email,
      displayNameRules,
      emailRules,
      emailVerified,
      photoURL,
      verificationEmail,
      resetPassword,
      deleteProfile,
      deletePhoto,
      uploadPhoto,
      updateProfile,
      form,
      dialogDeletion
    };
  }
};
</script>

<style lang="scss" scoped>
.v-card--reveal {
  align-items: center;
  bottom: 0;
  justify-content: center;
  opacity: 0.5;
  position: absolute;
  width: 100%;
}
</style>
