<template>
  <v-container fluid>
    <v-row justify="center">
      <v-col cols="12" sm="8" md="3">
        <v-card class="navigationDraw elevation-12">
          <v-toolbar color="primary" dark flat>
            <v-toolbar-title>Зарегистрироваться</v-toolbar-title>
            <v-spacer />
          </v-toolbar>
          <v-card-text>
            <v-form ref="form" lazy-validation>
              <v-text-field
                v-model="email"
                clearable
                counter
                label="Почта"
                name="email"
                placeholder=" "
                prepend-icon="mdi-email"
                type="text"
                :rules="emailRules"
              />

              <v-text-field
                v-model="password"
                color="primary"
                counter
                id="password"
                label="Пароль"
                name="password"
                placeholder=" "
                prepend-icon="mdi-lock"
                :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                :rules="passwordRules"
                :type="showPassword ? 'text' : 'password'"
                @click:append="showPassword = !showPassword"
              />
              <v-text-field
                v-model="passwordConfirm"
                color="primary"
                counter
                id="passwordConfirm"
                label="Подтверждение пароля"
                name="password"
                placeholder=" "
                prepend-icon="mdi-lock"
                :append-icon="showPasswordConfirm ? 'mdi-eye' : 'mdi-eye-off'"
                :rules="passwordConfirmRules"
                :type="showPasswordConfirm ? 'text' : 'password'"
                @click:append="showPasswordConfirm = !showPasswordConfirm"
              />
            </v-form>
          </v-card-text>
          <v-card-actions>
            <v-spacer />
            <v-btn
              class="ma-2"
              color="primary"
              outlined
              small
              :loading="loading"
              @click="onSubmit"
            >
              Подтвердить
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import { ref } from '@vue/composition-api';
import { useLoading, useValidator } from '../../compositions/common';
import { useProfile } from '../../compositions/profile';
export default {
  name: 'Registration',
  setup() {
    const loading = ref(useLoading().loading);
    const email = ref('');
    const password = ref('');
    const passwordConfirm = ref('');
    const showPassword = ref(false);
    const showPasswordConfirm = ref(false);

    const emailRules = [
      str => useValidator().nullValidation({ str }),
      str => useValidator().emailValidation({ str })
    ];
    const passwordRules = [
      str => useValidator().nullValidation({ str }),
      str => useValidator().minLengthValidation({ str, min: 5 })
    ];
    const passwordConfirmRules = [
      str => useValidator().nullValidation({ str }),
      str => useValidator().minLengthValidation({ str, min: 5 })
    ];

    const form = ref(null);
    const valid = ref(true);

    const onSubmit = () => {
      valid.value = form.value.validate();
      if (valid.value) {
        useProfile().registerProfile({
          email: email.value,
          password: password.value
        });
      }
    };

    return {
      loading,
      email,
      emailRules,
      password,
      passwordRules,
      passwordConfirm,
      passwordConfirmRules,
      showPassword,
      showPasswordConfirm,
      form,
      valid,
      onSubmit
    };
  }
};
</script>
